@model ChopShop.Admin.Web.Models.ViewModel.EditProduct

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.LabelFor(x=>x.Name)<br />
@Model.Name<br />
@if(@Model.Categories.Any())
{
<ul>
@foreach (var category in Model.Categories)
{
    <li>@category.Name - @category.Description</li>
}
</ul>
}

@if(@Model.Prices != null){
<ul>
@foreach (var price in Model.Prices)
{   
    <li>@price.Value</li>
}
</ul>
}