@model ICollection<ChopShop.Model.Product>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<ul>
@foreach (var product in Model)
{ 
<li><p>@product.Name @product.Sku @product.Description</p>
    <ul>
    @foreach (var category in product.Categories)
    { 
        <li>@category.Id, @category.Name</li>
    }
    </ul>
    <ul>
    @foreach (var cost in product.Costs)
    { 
    <li>
    @cost.Currency @cost.Value
    </li>
    }
    </ul>
</li>
}
</>